
.container {
    width: 100%;
    max-width: 1100px;
    margin:0 auto;
    box-sizing: border-box; 
    /*почему не применяется ко всем вложенным? */
}

.black-header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 25px 0;
    box-sizing: border-box;
    height: 70px;
    align-items: center;
}

.header-logo {
box-sizing: border-box;
width: 80px;
height: 30px;
}

/* img [src="assets/images/logo-navbar-u70.png"] */
.logo-small{
    object-fit: cover;
    width: 80px;
    height: 30px; 
    /*как задать размер лого не повторяясь с родителем?*/
}

.navbar {
    display: flex;
    font:  500 14px/1.2 'Open Sans', Sans-serif;
}

.navitems {
    text-decoration: none;
    margin-left: 50px;
    color: rgba(255, 255, 255, .69);
    cursor: default;
}

.navitems:first-child{
    margin-left: 0;
}


/* MAIN-SCREEN */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

 .main-screen{
 
    box-sizing: border-box;
    height: 640px;
    max-width: 1100px;
    background-image: url(../images/building.jpg);
}
.mscreen{
   
    box-sizing: border-box;
    width:527px;
    padding-top: 110px;
    padding-bottom: 136px;
}

.title-main{
    color: white;
    display: inline-block;
    margin: 0;
    padding: 30px 0 35px;
}

.title-main:after {
    content: " ";
    width: 67px;
    height: 2px;
    background-color: white;
    /* почему не работает */

}

.content-main{
    font: 300 16px 'Raleway', Sans-serif;
    color: rgba(255, 255, 255, .8);
    width: 462px;
    padding-bottom: 42px;
}

.button{
    width: 137px;
    height: 37px;
    background-color: transparent;
    border-color: 2px white;
    font-size: 15px;
color: #ffffff;
font-family: "Open Sans";
font-weight: 600;
}

form{
    float: right;
    overflow: hidden;
    padding: 137px 0;
    box-sizing: border-box;
    width: 360px;
    height: 360px;
}
.head{
    margin: 0 auto;
}

.brandbar{
    padding: 25px 0;
    box-sizing: border-box;
    height: 105px;
    filter: drop-shadow(0px 1px 1.5px rgba(0,0,0,0.38));
    background-color: #ffffff;
}

.title {
    font: 400 36px 'Raleway', Sans-serif;
}

.content {
    font-size: 14px;
    line-height: 1.4;
    color: #86878b;
    font-family: "Open Sans", Sans-serif;;
    font-weight: 400;
}

.content:after {
    content: " ";
    width: 65px;
    height: 3px;
    padding-bottom: 30px;
    margin: auto;
    background-color:#ff8b38;
}

*.item {
    float: left;
}

  .head .title {
      margin-bottom:22px;
      text-align:center;
  }
  .head .content {
        text-align:center;
  }
.item .content{
    text-align:center;
}

.blocks{
    display: flex;
    justify-content: space-between;
}

h2{
    font-size: 20px;
    line-height: 1.2;
    color: #333333;
    font-family: "Open Sans", Sans-serif;;
    font-weight: 700;  
}
.pricing-block .content{
    padding-bottom: 83px;
}

.block{
    padding-right: 40px;
    box-sizing: border-box;
}
.table-name{
    background-color: black;
    width: 340px;
    height: 58px;

}